<!DOCTYPE html>
<html>
  <head>
    <title>PUNKY KONGZ</title>
    <!-- <meta name="theme-color" content="#000000"> -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="format-detection" content="telephone=no" />

    <!-- <meta charset="UTF-8"> -->
    <!-- <meta name="description" content="펑키콩즈는 NFT 시장에서 혁신을 주도할 독창적인 프로젝트로, 새로운 비전과 창의성을 담고 있습니다. 우리는 기존의 성과와 경험에서 영감을 받아, 그 이상을 실현하고자 하는 강력한 의지를 가지고 있습니다. PUNKVISM 정신을 공유하는 사람들이 모여, 글로벌 K-NFT 시장을 새롭게 이끌어 갈 것입니다. 우리의 비전: 'K-NFT를 세계로' 펑키콩즈를 통해 우리는 K-NFT 산업을 세계 무대로 확장하고, 새로운 흐름을 만들어 나가는 것을 목표로 하고 있습니다."/> -->
    <meta name="description" content='Everything we do is driven by our belief in "challenging an unjust society." We believe in the values of adventurers and dreamers who have shaken the world. Our way of challenging an unjust society is to strengthen our community by finding Punkyvists who uphold the values of PUNKVISM. With K-NFT and RWA, we will take on the world.'/>
    <meta name="author" content="PUNKY KONGZ">
    <meta name="keywords" content="NFT, 메타콩즈, 펑키콩즈, 콩즈, 엔에프티, K-NFT, 펑크비즘, 펑키비스트, 스노우시드"/>
    <!-- <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"> -->
    <!--<meta name="theme-color" content="#000000">모바일 WEB 주소창 컬러 -->

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://punkykongz.com" /><!-- 사이트도메인 -->
    <meta property="og:title" content="PUNKY KONGZ" />
    <!-- <meta property="og:site_name" content=" PUNKY KONGZ" /> --><!-- 사이트도메인 -->
    <!-- <meta property="og:description" content="펑키콩즈는 NFT 시장에서 혁신을 주도할 독창적인 프로젝트로, 새로운 비전과 창의성을 담고 있습니다." />	 -->
    <meta property="og:description" content='Everything we do is driven by our belief in "challenging an unjust society." We believe in the values of adventurers and dreamers who have shaken the world. Our way of challenging an unjust society is to strengthen our community by finding Punkyvists who uphold the values of PUNKVISM. With K-NFT and RWA, we will take on the world.' />	
    <meta property="og:image" content="https://punkykongz.com/images/og_img.png">
    <!-- <meta property="fb:app_id" content="836908680015094"> -->
    <!-- <meta name="keywords" content="ico,ino,dao,defi"/> -->

    <link rel="shortcut icon" type="image/x-icon" href="https://punkykongz.com/images/favicon.png" /><!-- 파비콘 -->
    <link rel="canonical" href="https://punkykongz.com">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">

    <!-- <link rel="shortcut icon" href="https://mint.bumiband.com/logo/logo_star.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="logo/logo_star.png">
    <link rel="icon" type="image/png" sizes="32x32" href="logo/logo_star.png">
    <link rel="icon" type="image/png" sizes="96x96" href="logo/logo_star.png">
    <link rel="icon" type="image/png" sizes="128x128" href="logo/logo_star.png">
    <link rel="icon" type="image/png" sizes="180x180" href="logo/logo_star.png">
    <link rel="icon" type="image/png" sizes="192x192" href="logo/logo_star.png">
    <link rel="icon" type="image/png" sizes="256x256" href="logo/logo_star.png">
    <link rel="icon" type="image/png" sizes="512x512" href="logo/logo_star.png">
    <link rel="icon" type="image/ico" href="favicon.ico"> -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-221101101-1">
    </script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-221101101-1');
    </script> -->

  </head>
  <body>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>
  </body>
</html>
